AlgorithmDeveloper/.vs/
AlgorithmDeveloper/.git/
AlgorithmDeveloper/bin/
AlgorithmDeveloper/obj/
AlgorithmDeveloperTests/bin/
AlgorithmDeveloperTests/obj/
AlgorithmDeveloperTests/TestResults/
AlgorithmDeveloperTests/TestResults/TestResults/
Курсовая/
/.vs
/AlgorithmDeveloper/Theory
/AlgorithmDeveloper/Theory/ЛСА.md
/AlgorithmDeveloper/Theory/Объединение АА через МСА.md
/AlgorithmDeveloper/Theory/План_курсовой.md
/AlgorithmDeveloper/Theory/Текст_курсовой.md
